@mixin font-face($font-family,
    $file-path,
    $display: swap,
    $weight: normal,
    $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: $display;
    src: url('#{$file-path}.woff2') format('truetype');
  }
}

@include font-face('Roboto', '@/assets/fonts/Roboto-Regular', swap, 400, normal);
@include font-face('Roboto', '@/assets/fonts/Roboto-Medium', swap, 500, normal);
@include font-face('Roboto', '@/assets/fonts/Roboto-Bold', swap, 700, normal);
