:root {
  --app-bg-primary-color: #FFFFFF;

  --app-text-primary-color: #000000;
  --app-text-secondary-color: #000000;

  --input-text: #000;
  --input-text-placeholder: #c4c4c4;
  --input-text-placeholder-hover: #7d8ca7;
  --input-text-placeholder-error: #b16464;
  --input-text-disabled: #c4c4c4;

  --input-bg: #f2f4fd;
  --input-bg-hover: #e7e9f0;
  --input-bg-error: #faf2f2;
  --input-bg-disabled: #f2f4fd;
}

[data-theme="dark"]  {
  --app-bg-primary-color: #181f32;

  --app-text-primary-color: #FFFFFF;

  --input-text: #fff;
  --input-text-placeholder: #c1c8d4;
  --input-text-placeholder-hover: #9faabe;
  --input-text-placeholder-error: #fac4c4;
  --input-text-disabled: #6f6f6f;

  --input-bg: #2f3a5a;
  --input-bg-hover: #3d4c77;
  --input-bg-error: #4a2d27;
  --input-bg-disabled: #2a344e;
}
